#modx-form-supportwidget .x-form-field {
  box-sizing: border-box;
  min-height: 34px !important; }
#modx-form-supportwidget .x-panel-btns {
  box-sizing: border-box;
  max-width: 100%;
  padding: 15px 5px 8px !important; }
#modx-form-supportwidget .modx-form p {
  padding-bottom: 0;
  margin: 8px; }
